.balance {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-primary-700);
    padding: 2rem;
    color: var(--clr-neutral-100);
    margin-bottom: 1rem;
    border-radius: 1rem;

    p {
        margin-bottom: 1rem;
    }

    span {
        font-size: var(--fs-800);
        font-weight: 700;
    }

    @media screen and (max-width: 450px) {

        span {
            font-size: var(--fs-500);
        }

        p {
            margin-bottom: .75rem;
            text-align: start;
        }

        padding: 1.125rem;
        border-radius: .5rem;
    }
}